:host {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ccc;
    background: #222;

    .projectile {
        border: 2px solid #03A9F4;
        position: absolute;
        transition: 0.025s linear;
        border-radius: 50%;
        // transition: 0.25s linear;
        // background: #d0f0dd;
        // box-shadow: 0px 0px 0 #40ff22,
        // 0px 0px 4px #30ff1f,
        // 0px 0px 8px #20ff1b,
        // 0px 0px 16px #10ff18;
        // border-radius: 4px;
        // width: 2px;
        // height: 2px;
    }
}