:host {
    display: block;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    position: relative;

    background: #222;

    .projectile {
        border: 2px solid #009688;
        // transition: 0.25s linear;
        // position: abolute;
        // background: #d0f0dd;
        // box-shadow: 0px 0px 0 #40ff22,
        // 0px 0px 4px #30ff1f,
        // 0px 0px 8px #20ff1b,
        // 0px 0px 16px #10ff18;
        // border-radius: 4px;
        // width: 2px;
        // height: 2px;
    }
}