<div *ngIf="battle$ | async as battle" [style.width.px]="battle.field.size.width" [style.height.px]="battle.field.size.height">
    <ln-ship style.transform="translate({{battle.playerShip.position.x}}px,{{battle.playerShip.position.y}}px)" [ship]="battle.playerShip"></ln-ship>
    <div class="projectile" *ngFor="let projectile of battle.projectiles; trackBy: trackById" 
        style.transform="translate({{projectile.position.x}}px,{{projectile.position.y}}px)"
        [style.width.px]="projectile.size.width" [style.height.px]="projectile.size.height"></div>
</div>