:host {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }

  .moon {
    background: #fff;
    border-left: 0.5rem solid rgba(201, 235, 235, .75);
    height: 5rem;
    width: 5rem;
    margin: 0.1rem auto -0.7rem auto;
    text-align: center;
    border-radius: 50%;
    position: relative;
    >* {
      display: inline-block;
      top: 0.5em;
    }
  }
  .crater {
    background: rgba(201, 235, 235, .5);
    position: absolute;
    border-radius: 50%;

    &:nth-child(1) {
      background: rgba(201, 235, 235, .25);
      height: 40%;
      width: 40%;

      top: 20%;
      left: 10%;
    }

    &:nth-child(2) {
      height: 10%;
      width: 10%;

      top: 20%;
      left: 60%;
    }

    &:nth-child(3) {
      height: 15%;
      width: 15%;

      top: 70%;
      left: 40%;
    }
  }
}
